.popup{
   transform: translateY(10);
   opacity: 0;
}

.popup.active{
   transform: translateY(0);
   opacity: 1;
}

.popOver{
   transform: scale(0.4);
   opacity: 0;
}

.popOver.active{
   transform: translateY(0);
   opacity: 1;
}